name: credit-risk-env
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - numpy
      - pandas
      - scikit-learn
      - joblib
      - azure-ai-ml
      - azure-identity
