name: Deploy to Azure ML

# This makes the workflow reusable
on:
  workflow_call:

# Required secrets for Azure login and ML deployment
secrets:
  AZURE_CLIENT_ID:
    required: true
  AZURE_TENANT_ID:
    required: true
  AZURE_SUBSCRIPTION_ID:
    required: true
  AZURE_RESOURCE_GROUP:
    required: true
  AZURE_ML_WORKSPACE:
    required: true

jobs:
  build-train-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install dependencies
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install azure-ai-ml azure-identity python-dotenv matplotlib

      # 4. Run training tests
      - name: Run training test
        run: python -m tests.test_training

      # 5. Train the model
      - name: Train model
        run: python src/train.py

      # 6. Azure login
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      # 7. Deploy trained model to Azure ML
      - name: Deploy Trained Model to Azure ML
        env:
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
          AZURE_ML_WORKSPACE: ${{ secrets.AZURE_ML_WORKSPACE }}
        run: python src/deploy_model.py

