name: Credit Risk

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-train-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing tests
        run: python -m tests.test_preprocessing

      - name: Run training tests
        run: python -m tests.test_training

      - name: Train model
        run: python src/train.py

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
        run: python src/deploy_model.py

