name: Credit Risk Prediction Model

# Trigger workflow on push or pull request to main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Required permissions for OIDC login
permissions:
  id-token: write
  contents: read

jobs:
  build-train-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install dependencies
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install azure-ai-ml azure-identity python-dotenv matplotlib

      # 4. Run training tests
      - name: Run training test
        run: python -m tests.test_training

      # 5. Train model
      - name: Train model
        run: python src/train.py

      # 6. Azure login using OIDC (v2)
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          allow-no-subsrciptions: true
          enable-AzPSSession: true
          #subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # 7. Deploy trained model to Azure ML
      - name: Deploy Trained Model to Azure ML
        env:
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
          AZURE_ML_WORKSPACE: ${{ secrets.AZURE_ML_WORKSPACE }}
        run: python src/deploy_model.py

