name: Credit Risk Prediction Model

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-train-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install azure-ai-ml azure-identity python-dotenv

      - name: Run training test
        run: python -m tests.test_training

      - name: Train model
        run: python src/train.py

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_VERITY }}

      - name: Deploy Trained Model to Azure ML
        env:
	 AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
         AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
         AZURE_ML_WORKSPACE: ${{ vars.AZURE_ML_WORKSPACE }}
        run: python src/deploy_model.py

